<section class="bg-primary" id="myapproach">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get the answers, clarity and guidance you need!</h2>
                <hr class="light">
                <p class="text-faded">Our most important work together is to discover how the past, its wounds and blessings, shines a light on your current and future path.  What energetic threads are you weaving with the people closest to you?  Where do you need to show up more in your relationships?  What gifts need to be expressed in you?  What shadow aspects might be at play in your relationships?</p>
                <p class="text-faded">I connect with my intuitive sensing and retrieve the most essential information about you, and those in your life, to offer insight into navigating these most important relationships. I’ve helped parents/children, spouses, employees, friends and family to better understand the internal landscape of those closest to them.</p>
                <p class="text-faded">Some people only need one session of deep clarity to set off on their path.  Other clients welcome a reconnection monthly, quarterly or yearly. And sometimes situations come up in a person’s life when more ongoing support is helpful.</p>
                <a href="#contact" class="btn btn-default btn-xl">Schedule a session</a>
            </div>
        </div>
    </div>
</section>
