<section class="bg-dark" id="testimonials">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading text-center">Testimonials</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <blockquote class="text-center">
                    <p>A reading with Jill is so beyond the basic.  She was able to tap so deeply into all my most important relationships, including the one with myself.  She is open, present, kind, and careful, and insightful without being invasive.  I consult the reading often and it guides me in many decisions, and most importantly is has given me hope.
<br /><br />~ T. H. Berkley, California</p>
                </blockquote>
            </div>
            <div class="col-lg-4 col-sm-6">
                <blockquote class="text-center">
                    <p>I’ve known Jill for years and my confidence in her intuitive wisdom continues to grow. Her clear insights are gifts that have benefited my life in deep and significant ways. Two years ago, I was in a lot of pain and distress regarding a relationship. I sought Jill’s guidance  because I trust her implicitly with things I don’t even feel safe taking to others, even my own therapist. Jill helped me untangle the web of my problem so I could see things on a deeper, more direct level and helped me connect with my own intuitive truth, something I had been unable to do on my own. I will always be grateful for one major truth in particular Jill pinpointed in our session together: that this new person I had met was “the one”. Now, I’m happily married, living overseas and diving into my creativity in new and exciting ways. I am so glad I had Jill as a key resource two years ago – and I know I will continue to call on her for support and guidance.
<br /><br />~J.P.  Sweden</p>
                </blockquote>
            </div>
            <div class="col-lg-4 col-sm-6">
                <blockquote class="text-center">
                    <p>From its beginning to end, the reading Jill gave was so accurate and her thoughts and reflections seemingly so intuitive it was as if we had known each other for years. She was able to identify, with such precision, the emotional scars of years past and offer support, love, and guidance on how best to approach the future. If I had to describe in one word the feeling I came away with from the reading, it would be this: comfort. I will be forever indebted to Jill for her keen insight and intuition helping me better understand myself and determine where it was I wanted to go in this life.
<br /><br />~ S.T. Somerville, MA</p>
                </blockquote>
            </div>
            <div class="col-lg-6 col-sm-6">
                <blockquote class="text-center">
                    <p>Jill’s insightful and intuitive spirit helped me realize what I already knew in my heart and gave me the courage to make changes in my life that put me on the path toward my dreams.
<br /><br />~B.N. Los Angeles</p>
                </blockquote>
            </div>

            <div class="col-lg-6 col-sm-6">
                <blockquote class="text-center">
                    <p>I had a session with Jill at a time in my life filled with transition and emotion. The reading assisted me to step confidently into my future of promise and abundance. It erased the fear and replaced it with hope and peace. I would highly recommend a session with Jill.
<br /><br />~J.C. Maine</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
